.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttonstrip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 1rem;
}

.active {
  ::before {
    background-color: red;
  }
}